.color-example {
    color: blueviolet;
    background-color: #e99393;
    border: 2px solid #15905b;
}

.header-example {
    color: rgb(15, 123, 129);
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.list-example {
    list-style-type: square;
    color: #d014a4;
}

.text-example {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    text-decoration: underline;
}

.div-example {
    background-color: #e99393;
    border: 2px solid #15905b;
}