body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "section aside"
        "article aside"
        "footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.header {
    grid-area: header;
    background: #477abd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.nav {
    grid-area: nav;
    background: #95c2eb;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.section {
    grid-area: section;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.aside {
    grid-area: aside;
    background: #666686;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
  
.article {
    grid-area: article;
    background: #c0b2ef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.footer {
    grid-area: footer;
    background: #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
